# Python virtual environments
.venv/
env/
venv/

# IDE / Editor files
.vscode/
.idea/

# OS-specific files
*.DS_Store
Thumbs.dbgit remo

# Logs
*.log
logs/



AIChatbotService.exe
AIChatbotService.xml

OllamaService.exe
OllamaService.xml

QdrantService.exe
QdrantService.xml
# Python cache files
__pycache__/
*.pyc

#qdrant folder
qdrant/
