# Python virtual environments
.venv/
env/
venv/

# IDE / Editor files
.vscode/
.idea/

# OS-specific files
*.DS_Store
Thumbs.dbgit remo

# Logs
*.log
logs/



AIChatbotService.exe


OllamaService.exe


QdrantService.exe

# Python cache files
__pycache__/
*.pyc

#qdrant folder
qdrant/
